/* 
multi
line
comment
*/

/* unvisited link (:link) */

h1 {
    color: blue;
    font-size: 3em;
}


body { 
		background-image: url('');
		background-color: #A5B4C2;
		text-align: center;
		font-size: 12;
		color: #00F;
}

ul {
	font-size: 33;
	text-align: center;
}

li {
	font-size: 33;
	text-align: left;
}

